<%# <div class="container text-center">
  <h1>Hello from index action of home controller!</h1>
</div>

<div>
  <h1>Upcomming events<h1>
</div>

<div>
  <h1>Past Events<h1>
</div> %>
<div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6 dark:bg-slate-800 dark:shadow-slate-900/50">
  <div class="-mx-6 border-b border-slate-200 dark:border-slate-700 px-6 pb-4 mb-4 flex items-center justify-between flex-wrap">
    <h1 class="sm:text-2xl text-xl">Posts</h1>
    <a class="btn btn-primary" href="#">New post</a>
  </div>
  <!-- content -->
</div>